.event-item {
  list-style-type: none;
  margin-right: 24px;
  margin-bottom: 30px;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .event-item {
    width: 45%;
  }
}
.event-btn {
  padding: 0px;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
.event-img {
  border: 2px solid transparent;
  border-radius: 8px;
  max-width: 450px;
  width: 100%;
}
.active {
  border: 2px solid #2dd4bf;
  border-radius: 10px;
}
.name {
  color: #f8fafc;
  font-size: 26px;
  font-family: 'Roboto';
  font-weight: 500;
  margin: 0px;
  margin-top: 10px;
}
.location {
  color: #f8fafc;
  font-size: 18px;
  font-family: 'Roboto';
  margin: 0px;
  margin-top: 6px;
}
